*{
    margin:0;
    padding: 0;
   
}

body{
    height:200;
    width: 200;
}
svg path{
fill: rgb(239, 162, 30);
stroke: rgb(0, 0, 0);
stroke-width: 1.3;
}
 path:hover{
    fill: rgb(60, 243, 28);
    transition: 1.8s;
    cursor: pointer;
 }
body svg{
margin-left: 600px;
margin-top: 50px;
    
}
html{
    transform:scale(1.1)
    
}

.button {
    display: inline-flex;
    padding: 15px 35px;
    margin: 10px;
    font-size: 1.2em;
    color: #4a452d;
    background: #d1b79b;
    text-decoration: none;
    border: 3px solid #30271d;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    margin-left: 150px;
  
}
.button-container {
    margin: 250px ;
}
.button:hover {
    background: #f8921e;
    transform: scale(1.05);
}